* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #000080;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.nav-links li {
    list-style: none;
    color: white;
    /* padding:5px; */
}

.nav-links li a {
    color: #FF007F;
    font-family: sans-serif;
    font-weight: bold;
    padding: 25px;
    font-size: 20px;
    text-decoration: none;

}


.container button {
    background: none;
    border: none;
    cursor: pointer;
}

.container button {
    color: #ee2a7b;
    font-size: 18px;
    font-weight: bold;
}

.container button i {
    color: white;
    font-size: 28px;
}

.logo img {
    width: 150px;

}

nav .container .nav-links {
    display: flex;
}

.toggle-btn {
    display: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}


.search-box {
    display: flex;
    gap: 30px;
    width: 90%;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-box input {
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid darkblue;
    box-shadow: 0px 3px 1px grey;
}

.search-box input::placeholder {
    font-size: 25px;
}

.suggestions {
    position: absolute;
    top: 23%;
    width: 40%;
    background: white;
    border: 1px solid #ccc;
    display: none;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 10px;
}

.suggestions div {
    border-bottom: 1px solid grey;
    width: 90%;
    margin: auto;
    padding: 15px;
    cursor: pointer;
}

.suggestions div:hover {
    background: #f0f0f0;
}

.search-box button {
    border-radius: 20px;
    width: 15%;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF007F;
    border: none;
    padding: 20px;

}

.form {
    background-color: #000080;
    width: 40%;
    margin: auto;

    display: none;
    position: fixed;
    /* Keeps it centered on screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 20px;
}

.form.active {
    display: flex;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.input {
    position: relative;
}

.input i {
    position: absolute;
    top: 12px;
    left: 10px;
    color: grey;

}

.input input {
    width: 450px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
}

input::placeholder {
    color: grey;
    font-size: 20px;
    font-weight: bold;
    transform: translateX(25px);
}

.input button {
    background-color: #FF007F;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    padding: 20px;
}

.popup {
    background-color: #000080;
    border-radius: 10px;
    width: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    z-index: 1001;
}

.popup p {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

footer {
    background-color: #000080;
    padding-top: 50px;
}

.footer-container {
    display: flex;
    width: 95%;
    margin: auto;
    gap: 20px;
}

.footer {
    flex-grow: 1;
}

.footer a {
    display: block;
    text-decoration: none;
    color: #FF007F;
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;

}

.footer1 {

    text-align: center;
}

.footer1 img {
    width: 150px;
    transform: translateY(150px);

}

.footer h2 {
    color: #FF007F;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.footer4 p {
    color: #FF007F;
    font-family: sans-serif;
    font-size: 20px;
}

.footer4 p i {
    color: white;
    padding-right: 10px;
}

.footer5 {
    text-align: center;
    padding: 20px;
}

.footer5 h3 {
    color: #FF007F;
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.footer5 p {
    color: #FF007F;
    font-family: sans-serif;
    font-size: 20px;

}

.footer5 .youtube i {
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 20px;
    margin-left: 20px;
}

.footer5 .WhatsApp i {
    color: white;
    background-color: lightgreen;
    padding: 5px;
    border-radius: 20px;
    margin-left: 20px;
}

.footer5 .instagram i {
    color: white;
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    padding: 5px;
    border-radius: 20px;
    margin-left: 20px;
}

.footer5 .facebook i {
    color: white;
    background-color: rgb(1, 101, 225);
    padding: 5px;
    border-radius: 20px;
    margin-left: 20px;
}

.footer5 .twitter i {
    color: white;
    background-color: rgb(29, 155, 240);
    padding: 5px;
    border-radius: 20px;
    margin-left: 20px;
}


.event-content {
    text-align: center;


}

.event-content img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

h1 {
    font-size: 28px;
    margin-top: 20px;

}

#event-description {
    text-align: left;
    width: 90%;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
    background-color: #FFF5E4;
    border-radius: 20px;
    padding: 50px;

}

#event-description {
    margin-bottom: 20px;
}

#event-description p {
    font-family: sans-serif;
    font-size: 25px;
}

#event-description h2 {
    font-family: sans-serif;
    font-size: 35px;
}

#event-description h3 {
    font-family: sans-serif;
    font-size: 30px;
}

#event-description li {
    font-family: sans-serif;
    font-size: 25px;

}

#event-description .themedli li {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 40px;
}

#event-description .tour li strong {
    font-size: 30px;

}

.get-in-touch.active {
    display: flex;
}

.get-in-touch {
    width: 53%;
    border: 1px solid black;
    display: none;
    flex-direction: column;
    position: fixed;
    /* Fixes position on screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.get-in-touch img {
    width: 100%;
    height: 650px;
    opacity: 0.7;

}

.form-apply {
    opacity: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    /* background-color:white; */
}

.input-box input {
    width: 320px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid #FF007F;
}

.input-box input::placeholder {
    color: grey;
    font-size: 13px;
    font-weight: bold;
}

.form2 h4 {
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 30px;
}

.form2 {
    padding: 10px;
}

.form2 label {
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    margin-bottom: 20px;
}

.form2 textarea {
    width: 400px;
    height: 200px;
    border: 1px solid #FF007F;
    font-size: 20px;
    color: grey;
}

.get-in-touch .get-in-touch-btn {
    text-align: center;
}

.form-get-in-touch {
    background-color: white;
}

.get-in-touch button {
    width: 20%;
    padding: 10px;
    background-color: #000080;
    color: #FF007F;
    border-radius: 50px;
    font-size: 20px;
    margin-bottom: 30px;
}

.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-bottom: 3px;
    margin-top: -5px;
    margin-left: 5px;
}

.get-close-btn i {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 40px;
    color: black;
}



@media(max-width:1024px) {
    .nav-links li a {
        font-size: 15px;
        padding: 10px;
    }

    .logo img {
        width: 80px;
    }

    .container button {
        font-size: 15px;
    }

    .container button i {
        font-size: 19px;
        ;
    }

    .container {
        width: 100%;
        padding: 20px;
    }

    .search-box input {
        padding: 5px;
        width: 100%;
    }

    .suggestions {
        position: absolute;
        top: 22%;
        width: 40%;
        max-height: 300px;
    }

    .search-box button {
        transform: translateX(-20px);
        font-size: 10px;
        width: 30%;
    }

    .get-in-touch {
        width: 58%;
    }

    .input-box input {
        width: 250px;
    }

    .input-box input::placeholder {
        font-size: 10px;
    }

    .form2 h4 {
        font-size: 15px;
    }

    .form2 label {
        font-size: 15px;
    }

    .form2 textarea {
        width: 300px;

    }

    .get-in-touch button {
        width: 30%;
        font-size: 15px;
        margin-bottom: 15px;
    }

}

@media(max-width:768px) {
    .nav-links li a {
        font-size: 12px;
        padding: 7px;
    }

    .nav-links {
        padding: 5px;
    }

    .container {
        width: 100%;
        padding: 20px;
    }

    .container button {
        font-size: 10px;
    }

    .container button i {
        font-size: 15px;

    }

    .get-in-touch {
        width: 90%;
        height: 500px;
    }

    .logo img {
        width: 50px;
    }

    .form2 h4 {
        font-size: 18px;
    }

    .form2 textarea {
        width: 200px;
        height: 200px;
    }

    .input-box input::placeholder {
        font-size: 10px;
    }

    .form2 label {
        font-size: 15px;
        font-family: sans-serif;
        padding: 10px;
    }

    .search-box input::placeholder {
        font-size: 15px;
    }

    .search-box input {
        padding: 5px;
        width: 100%;
    }

    .search-box button {
        transform: translateX(-20px);
        font-size: 10px;
        width: 30%;
    }

    .suggestions {
        position: absolute;
        top: 23%;
        width: 50%;
        max-height: 300px;
    }


    #event-description p {
        font-family: sans-serif;
        font-size: 20px;
    }

    #event-description h2 {
        font-family: sans-serif;
        font-size: 30px;
    }

    #event-description h3 {
        font-family: sans-serif;
        font-size: 25px;
    }

    #event-description li {
        font-family: sans-serif;
        font-size: 20px;

    }

    #event-description .themedli li {

        font-size: 20px;

    }

    #event-description .tour li strong {
        font-size: 20px;

    }

    .footer-container {
        flex-direction: column;
    }

    .footer1 img {
        transform: translateX(-300px);
    }

    .footer5 {
        text-align: center;
    }

    .footer5 h3 {
        font-size: 20px;
    }

    .popup {
        width: 50%;
    }
}

@media(max-width:426px) {

    nav .container .nav-links {
        display: none;
        flex-direction: column;
        background-color: #000080;
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0;
        z-index: 2;
    }

    nav .container .nav-links li {
        border-bottom: 1px solid white;
        width: 70%;
        margin: auto;
        padding: 10px;
    }

    nav .container ul li a {

        padding: 10px;
        border: none;
        text-align: left;

    }

    nav .container .nav-links.active {
        display: flex;

    }

    .toggle-btn {
        display: block;
        transform: translateX(20px);
        font-size: 30px;
    }

    .container #togglebtn {
        display: none;
    }

    .logo img {
        width: 100px;
        transform: translateX(-70px);

    }

    .toggle-btn {
        font-size: 30px;
    }

    .search-box input {
        padding: 10px;
        width: 100%;
        margin: auto;
    }

    .suggestions {
        position: absolute;
        top: 27%;
        width: 50%;
        max-height: 300px;
    }


    .search-box button {
        transform: translateX(-20px);
        width: 40%;
    }

    #event-description p {
        font-family: sans-serif;
        font-size: 15px;
    }

    #event-description h2 {
        font-family: sans-serif;
        font-size: 20px;
    }

    #event-description h3 {
        font-family: sans-serif;
        font-size: 18px;
    }


    #event-description li {
        font-family: sans-serif;
        font-size: 15px;

    }

    #event-description .themedli li {

        font-size: 15px;

    }

    #event-description .tour li strong {
        font-size: 15px;

    }

    .footer h2 {
        font-size: 18px;
    }

    .footer4 p {
        font-size: 15px;
    }

    .footer5 h3 {
        font-size: 13px;
    }

    .footer5 p {
        font-size: 15px;
    }

    .footer a {
        font-size: 15px;
    }

    .get-in-touch {
        top: 40%;
        width: 80%;
    }

    .form-apply {
        flex-direction: column;
        gap: 5px;
        padding: 10px;
        margin-top: 20px;
    }

    .input-box input {
        padding: 10px;
        margin-bottom: 10px;
    }

    .form2 {
        padding: 5px;
        margin-top: -30px;
    }

    .form2 textarea {
        width: 200px;
        height: 50px;
    }

    .form2 h4 {
        font-size: 10px;
    }

    .form2 label {
        font-size: 10px;
    }

    .get-close-btn i {
        font-size: 30px;
    }

    .get-in-touch button {
        width: 50%;
        font-size: 10px;
    }
}

@media(max-width:320px) {
    #event-description {
        padding: 20px;
    }

    .search-box button {
        transform: translateX(-20px);
        width: 40%;
        font-size: 10px;
    }

    .search-box input {
        padding: 20px;
        width: 100%;
    }

    .get-in-touch {
        top: 40%;
        width: 90%;
    }

    

}